/* general */
body,
html {
	margin: 0 !important;
	padding: 0 !important;
	font-family: "Montserrat", sans-serif;
}

.bg-black {
  background-color: var(--color-black);
}

.bg-yellow {
  background-color: var(--color-yellow);
}

/* header and title */
.logo {
  position: absolute;
  top: 30px;
  left: 30px;
}

.main-title {
  font-size: 160px;
  color: var(--color-black); 
  font-weight: 600;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 40%;
  height: 30%;
  margin: auto;
}


/* Nav menu  */

.languages {
  color: var(--color-yellow);
  position: absolute;
	top: 25px;
	left: 18px;
  text-transform: uppercase ;
	font-style: italic;
	font-size: 14px;
	font-weight: 600;
	line-height: 17px;
	letter-spacing: 0.04rem;
}

ul {
	text-align: center;
	letter-spacing: 0.04em;
  padding-top: 150px;
}

li {
	cursor: pointer;
	color: transparent;
	list-style: none;
	font-style: normal;
	font-weight: 800;
	letter-spacing: 0.04em;
	text-shadow: 0 0 2px var(--color-yellow);
	color: var(--color-black);
	opacity: 0.6;
	transition: 1s;
  font-size: 70px;
  margin-bottom: 30px;
}

li:hover {
	color: var(--color-yellow) !important;
	opacity: 1;
}

.nav-undertext {
  font-size: 18px;
}

.img-desktop {
  max-height: 665px;
}

.icon-container {
  background-color: var(--color-black);
  height: 296px;
}

/* nav button */

.checkbox {
	display: none;
}

.checkbox:checked + .header-container label .header-button {
	background: none;
}

.checkbox:checked + .header-container label .header-button::after,
.checkbox:checked + .header-container label .header-button::before {
	top: 0;
}

.checkbox:checked + .header-container label .header-button::before {
	transform: rotate(35deg);
}

.checkbox:checked + .header-container label .header-button::after {
	transform: rotate(-35deg);
}

.btn-label {
	cursor: pointer !important;
	width: 2rem;
	height: 1.4rem;
  position: absolute;
  top: 40px;
  right: 30px;
  
}

.header-button {
	width: 2rem;
	height: 0.2rem;
	background: var(--color-yellow);
	position: absolute;
	transition: all 0.2s;
	cursor: pointer;
}

.header-button::before,
.header-button::after {
	content: "";
	width: 2rem;
	height: 0.2rem;
	background: var(--color-yellow);
	position: absolute;
	top: -0.6rem;
	transition: all 0.2s;
	cursor: pointer;
}

.header-button::after {
	top: 0.6rem;
	cursor: pointer;
}

